<div id="<%= dom_id student %>">
  <p>
    <strong>Title:</strong>
    <%= student.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= student.description %>
  </p>

  <p>
    <strong>Percent complete:</strong>
    <%= student.percent_complete %>
  </p>

</div>
